@charset "utf-8";
/* Цвета: */
/*Шрифты:*/
/*Миксина для адаптивных размеров:*/
/*Сброс значений по умолчанию:*/
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
input,
button,
textarea,
select {
  border: none;
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #1a191f, #353538);
}
::selection {
  background: #c02525;
  color: #fff;
}
.wrapper {
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: calc(390 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: calc((100vw * 390) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    max-width: calc(1px * 390);
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    padding: calc(30 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    padding: calc((100vw * 30) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding: calc(1px * 30);
  }
}
.wrapper .title-text {
  display: flex;
  width: 200%;
  font-family: 'Raleway', sans-serif;
}
.wrapper .title {
  width: 50%;
  /* font-size: 35px; */
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-family: 'Raleway', sans-serif;
}
@media screen and (min-width: 1200px) {
  .wrapper .title {
    font-size: calc(35 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .title {
    font-size: calc((100vw * 35) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .wrapper .title {
    font-size: calc(1px * 35);
  }
}
.wrapper .title * {
  font-family: 'Raleway', sans-serif;
}
.wrapper .slide-controls {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
@media screen and (min-width: 1200px) {
  .wrapper .slide-controls {
    height: calc(50 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .slide-controls {
    height: calc((100vw * 50) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .wrapper .slide-controls {
    height: calc(1px * 50);
  }
}
@media screen and (min-width: 1200px) {
  .wrapper .slide-controls {
    margin-top: calc(30 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .slide-controls {
    margin-top: calc((100vw * 30) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .wrapper .slide-controls {
    margin-top: calc(1px * 30);
  }
}
@media screen and (min-width: 1200px) {
  .wrapper .slide-controls {
    margin-bottom: calc(10 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .slide-controls {
    margin-bottom: calc((100vw * 10) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .wrapper .slide-controls {
    margin-bottom: calc(1px * 10);
  }
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
@media screen and (min-width: 1200px) {
  .slide-controls .slide {
    font-size: calc(18 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .slide-controls .slide {
    font-size: calc((100vw * 18) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .slide-controls .slide {
    font-size: calc(1px * 18);
  }
}
@media screen and (min-width: 1200px) {
  .slide-controls .slide {
    line-height: calc(48 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .slide-controls .slide {
    line-height: calc((100vw * 48) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .slide-controls .slide {
    line-height: calc(1px * 48);
  }
}
.slide-controls label.signup {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #c02525, #ce5d5d);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
  display: none;
}
#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: #000;
}
#login:checked ~ label.signup {
  color: #000;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .form-inner form .field {
    height: calc(50 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .form-inner form .field {
    height: calc((100vw * 50) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .form-inner form .field {
    height: calc(1px * 50);
  }
}
@media screen and (min-width: 1200px) {
  .form-inner form .field {
    margin-top: calc(20 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .form-inner form .field {
    margin-top: calc((100vw * 20) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .form-inner form .field {
    margin-top: calc(1px * 20);
  }
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1200px) {
  .form-inner form .field input {
    padding-left: calc(15 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .form-inner form .field input {
    padding-left: calc((100vw * 15) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .form-inner form .field input {
    padding-left: calc(1px * 15);
  }
}
@media screen and (min-width: 1200px) {
  .form-inner form .field input {
    font-size: calc(17 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .form-inner form .field input {
    font-size: calc((100vw * 17) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .form-inner form .field input {
    font-size: calc(1px * 17);
  }
}
.form-inner form .field input:focus {
  border-color: #f1b978;
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #b3b3b3;
}
@media screen and (min-width: 1200px) {
  .form-inner form .pass-link {
    margin-top: calc(5 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .form-inner form .pass-link {
    margin-top: calc((100vw * 5) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .form-inner form .pass-link {
    margin-top: calc(1px * 5);
  }
}
.form-inner form .signup-link {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .form-inner form .signup-link {
    margin-top: calc(30 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  .form-inner form .signup-link {
    margin-top: calc((100vw * 30) / 1200);
  }
}
@media screen and (max-width: 480px) {
  .form-inner form .signup-link {
    margin-top: calc(1px * 30);
  }
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #c02525;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  form .btn {
    height: calc(50 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  form .btn {
    height: calc((100vw * 50) / 1200);
  }
}
@media screen and (max-width: 480px) {
  form .btn {
    height: calc(1px * 50);
  }
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #c02525, #ce5d5d, #c02525, #ce5d5d);
  border-radius: 5px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
  left: 0;
}
form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  form .btn input[type="submit"] {
    font-size: calc(20 * 1px);
  }
}
@media screen and (max-width: 1200px) {
  form .btn input[type="submit"] {
    font-size: calc((100vw * 20) / 1200);
  }
}
@media screen and (max-width: 480px) {
  form .btn input[type="submit"] {
    font-size: calc(1px * 20);
  }
}
.hide {
  display: none;
}
