<header class="container">
    <div class="header__content">     
        <a href="#main" class="header__logo" id="main-logo">Library Films</a>
        <div class="nav">            
            <a href="#main" class="nav__logo" id="main-link">Главная</a>
            <a href="#room" class="nav__logo disabled" id="room-link">Личный кабинет</a>
            <a href="#security" class="nav__logo" id="security-link">Авторизация</a>
        </div>        
        <form id="find-movies" class="find__movies">
            <select name="" id="county" class="find__movies_select">
                <option value="" checked>Все страны</option>
            </select>
            <select name="" id="type" class="find__movies_select">
                <option value="" checked>Все жанры</option>
            </select>            
            <input type="text" class="header__search  find__movies_input" placeholder="Поиск" id="header-search"/>
            <button id="find-philms" class="find__movies_button">Найти</button>
        </form>        
    </div>
</header>